/* Navigation Bar */
nav {
    height: 70px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: fixed; /* Changed from relative to fixed */
    top: 0; /* Ensures the nav bar is at the top */
    width: 100%; /* Makes sure it spans the full width of the page */
    z-index: 100;
}

nav .brand {
    display: flex;
    align-items: center;
}

nav .brand img {
    height: 50px;
    margin: 5px;
}

nav .brand a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px; /* Adjust spacing between menu items */
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: .3s ease;
    position: relative;
    white-space: nowrap; /* Prevent text from wrapping */
}